h1, h2{
    color: #000000;
    font-family: 'Lobster';
}
h3, h4, h5{
    font-family: 'Abel', sans-serif;
}
p{
    font-family: 'Abel', sans-serif;
    font-size: 16px;

}
a{
     color: #3d4f80;
}
body {
    padding-left: 15px;
    background: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples16.jpeg");
    background-attachment: fixed;
}
