{% load static %}

<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">

    <h2>Recipe creation area </h2>

</head>

<body>
<p>
   Hello <b>{{request.user.username}}</b>.

<br><br>
     You can create here your new recipes

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
<br>
    <h3><a href="/welcome">welcome </a></h3>
</br>
</body>