<h2>
    Tipos de Ingredientes:
</h2>

<h3>Carne</h3>
{%  for receta in datos.pollo %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Pescado</h3>
{%  for receta in datos.salmon %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Vegetal</h3>
{%  for receta in datos.tomate %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Pasta</h3>
{%  for receta in datos.espaguetis %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Arroz</h3>
{%  for receta in datos.arroz %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Lácteos</h3>
{%  for receta in datos.queso %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Huevos</h3>
{%  for receta in datos.huevos %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Legumbres</h3>
{%  for receta in datos.lentejas %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Fruta</h3>
{%  for receta in datos.fresa %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<h3>Frutos secos</h3>
{%  for receta in datos.nueces %}
    <div>
        <h4><a href="">{{ receta.nombre_receta }}</a></h4>
    </div>

{% endfor %}

<br>
    <h3><a href="/welcome">welcome </a></h3>
</br>

