<h2>
    Tipos de Ingredientes:
</h2>

<h3>Carne</h3>
{%  for ingrediente in data.carne %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Pescado</h3>
{%  for ingrediente in data.pescado %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Vegetal</h3>
{%  for ingrediente in data.vegetal %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Pasta</h3>
{%  for ingrediente in data.pasta %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Arroz</h3>
{%  for ingrediente in data.arroz %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Cereales</h3>
{%  for ingrediente in data.cereal %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Lácteos</h3>
{%  for ingrediente in data.lacteo %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Huevos</h3>
{%  for ingrediente in data.huevos %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Legumbres</h3>
{%  for ingrediente in data.legumbres %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Frutos secos</h3>
{%  for ingrediente in data.frutossecos %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Aceite</h3>
{%  for ingrediente in data.aceite %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Harina</h3>
{%  for ingrediente in data.harina %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Azúcar</h3>
{%  for ingrediente in data.azucar %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<h3>Vinagre</h3>
{%  for ingrediente in data.vinagre %}
    <div>
        <h4><a href="">{{ ingrediente.nombre_ingrediente }}</a></h4>
    </div>
{% endfor %}

<br>
    <h3><a href="/welcome">welcome </a></h3>
</br>

