{% load static %}

<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <h1>Tipos de Ingredientes:</h1>
</head>

<body>
    <h3>Carne</h3>
    {%  for receta in recetas_de.pollo %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <h3>Pescado</h3>
    {%  for receta in recetas_de.salmon %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>

    {% endfor %}

    <h3>Vegetal</h3>
    {%  for receta in recetas_de.tomate %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>

    {% endfor %}

    <h3>Pasta</h3>
    {%  for receta in recetas_de.espaguetis %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>

    {% endfor %}

    <h3>Arroz</h3>
    {%  for receta in recetas_de.arroz %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <h3>Lácteos</h3>
    {%  for receta in recetas_de.queso %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>

    {% endfor %}

    <h3>Huevos</h3>
    {%  for receta in recetas_de.huevos %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <h3>Legumbres</h3>
    {%  for receta in recetas_de.lentejas %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <h3>Fruta</h3>
    {%  for receta in recetas_de.fresas %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <h3>Frutos secos</h3>
    {%  for receta in recetas_de.nueces %}
        <div>
            <h4><a href="{% url 'recipe_details' receta.id %}">
                {{ receta.nombre_receta }}</a></h4>
        </div>
    {% endfor %}

    <br>
        <h4><a href="/welcome">welcome </a></h4>
    </br>

</body>
