{% load static %}

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">
</head>

<html>

    <body>
        <h1>
            Welcome to
            <BR>
         </h1>
        <img src="{% static "titulo.PNG" %}" alt="Recipes and Fun">
    </body>
</html>

<h2>Login</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>

<hr />
<a href="/register">Register</a>

 <hr />
<a href="/admin">Admin access</a>