{% load static %}
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <h2>Your recipes </h2>

</head>

<body>
<p>
   Hello <b>{{request.user.username}}</b>.

<br><br>
     Here you have your recipes:

{%  for instance in ownrecipes %}
    <div>
        <h4><a href="{% url 'recipe_details' instance.id %}">
            {{ instance.nombre_receta }}</a></h4>
    </div>
{% endfor %}

<br>
    <h4><a href="/welcome">welcome </a></h4>
</br>
</body>