{% load static %}
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <h2>User registration</h2>

</head>

<body>
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" >Register</button>       <!-- boton bootstrap-->
</form>

<hr />

<h4><a href="/login">Login</a></h4>
</body>