{% load static %}
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'recipesandfun.css' %}">


    <h2>Recetas</h2>
</head>

<body>
    <div>
        <h4><a >{{ receta.nombre_receta }}</a></h4>
        <h5><a >{{ receta.ingredientes }}</a></h5>
        <h5><a >{{ receta.preparacion }}</a></h5>
    </div>


<br>
    <h4><a href="/listaIngredientes">Ingredients and Recipes </a></h4>
</br>

</body>