{% load static %}
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/recipesandfun.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">


    <h2>Recetas</h2>
</head>

<body>
    <div>
        <h3><a >{{ receta.nombre_receta }} - {{ receta.tiempo_preparacion }} minutos</a></h3>
        <h4><a >{{ receta.ingredientes }}</a></h4>
        <h4><a >{{ receta.preparacion }}</a></h4>
        <h4><a >{{ receta.review }}</a></h4>
    </div>


<br>
    <h4><a href="/welcome"class="button">User area </a></h4>
</br>

</body>