{% load static %}
<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/recipesandfun.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <h2>User area </h2>

</head>

<body>
<p>
    Welcome to RecipesAndFun <b>{{request.user.username}}</b>.
<p>
    Here you can create your recipes and comment those you like.
<br><br>

    <a href="/myrecipes">My recipes</a>
    <br>
    <a href="/createrecipe">Create recipe</a>
    <br>
    <a href="/listaIngredientes">Ingredients and Recipes</a>
    <br>
</p>

<hr />
<h4><a href="/logout">Logout</a></h4>
</body>